/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootswatch/dist/cyborg/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~alertifyjs/build/css/alertify.min.css';
@import '~alertifyjs/build/css/themes/bootstrap.min.css';

/* Global Styles for Player Tabset */
.tab-panel {
    border: 1px solid #9933cc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .player-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #9933cc;
  }
  
  .player-tabset > .nav-tabs > li.open > a, .player-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #9933cc;
  }
  
  .player-tabset > .nav-tabs > li.open > a > i, .player-tabset > .nav-tabs > li:hover > a > i {
    color: #2a9fd6;
  }
  
  .player-tabset > .nav-tabs > li.open .dropdown-menu, .player-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .player-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #555;
    position: relative;
  }
  
  .player-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .player-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .player-tabset > .tab-content {
    margin-top: -3px;
    background-color: #9933cc;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 15px;
  }